---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
//  ⭐⭐⭐ The second button works because the client:load directive tells Astro to send and rerun its JavaScript to the client when the page loads, making the component interactive. We call this a hydrated component.

//  ⭐⭐⭐ The component with the client:load directive will rerender after the page is loaded, and any interactive elements that it has will work.
---

<!-- ⭐⭐⭐ passing title to layout component using component attribute -->
<BaseLayout pageTitle="My Astro Website">
  <!-- <h2>My Astro Website</h2> -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

  <p>
    Feel free to take a look at my latest <a
      href="../posts/post-5"
      class="blog-link">blog post</a
    > :)
  </p>
</BaseLayout>

<script></script>
